<module xmlns="http://labkey.org/moduleProperties/xml/">
    <clientDependencies>
        <dependency path="webutils/lib/webutils"/>
        <dependency path="webutils/models/models"/>
        <dependency path="ehr/ehr_api"/>
        <dependency path="ehr/ehr_ext3_api"/>
    </clientDependencies>
    <properties>
        <propertyDescriptor name="virologyEHRVLSampleQueueFolderPath">
            <canSetPerContainer>false</canSetPerContainer>
            <description>Folder path to the viral load sample queue on main EHR. Used in trigger script to send notification</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="RSEHRQCStatus">
            <canSetPerContainer>false</canSetPerContainer>
            <description>QC Status string used to send RSEHR notification emails</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="RSEHRPortalPath">
            <canSetPerContainer>false</canSetPerContainer>
            <description>URL where the data lives on the rsehr portal. Used in the notification email to link users to RSEHR server (might change).</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="RSEHRViralLoadDataFolder">
            <canSetPerContainer>false</canSetPerContainer>
            <defaultValue>/WNPRC/Research Services/Virology Services/Private/</defaultValue>
            <description>Relative folder path to the parent viral load data folder on RSEHR. Used to set up mapping table to find readers in each child folder, from this parent folder. TODO item.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="RSEHRPublicInfoPath">
            <canSetPerContainer>false</canSetPerContainer>
            <description>Folder where all site users can read basic FAQs or Wikis</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="RSEHRJobInterval">
            <canSetPerContainer>false</canSetPerContainer>
            <defaultValue>10</defaultValue>
            <description>Time interval in minutes on how often to re-populate RSEHR mapping table. Requires a server restart (or cache reload?)</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>

        <propertyDescriptor name="RSEHRNotificationEmailReplyTo">
            <canSetPerContainer>false</canSetPerContainer>
            <description>Email for who to contact about RSEHR questions, used in body of RSEHR email notification</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="EHRViralLoadAssayDataPath">
            <canSetPerContainer>false</canSetPerContainer>
            <description>Folder path to the viral load assay data on EHR</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="EHRViralLoadQCList">
            <canSetPerContainer>false</canSetPerContainer>
            <description>Folder path to the QPCR_QC_list list</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>

    </properties>
</module>
