**/.DS_Store

docker/**/data
docker/**/logs
docker/**/.env
docker/.gradle
docker/dev_*/**
docker/nginx/test-ehr*
docker/nginx/cert.pem
docker/nginx/key.pem

**/node_modules/
**/build/

**/resources/credits/dependencies.txt
Gringots/resources/credits/jars.txt
WNPRC_Compliance/resources/credits/jars.txt
wnprc_billing/resources/credits/jars.txt

**/.gradle

**/app.css
**/app.css.map
**/app.js
**/app.js.map

.storybook-out/

# generated artifacts from @labkey/build
*/resources/web/*/gen/
*/resources/views/gen/
