**/.DS_Store

docker/**/data
docker/**/logs
docker/**/.env
docker/.gradle
docker/dev_*/**
docker/nginx/test-ehr*
docker/nginx/cert.pem
docker/nginx/key.pem

**/node_modules/
**/build/

**/resources/credits/dependencies.txt

**/.gradle

**/app.css
**/app.css.map
**/app.js
**/app.js.map

WNPRC_EHR/resources/web/wnprc_ehr/gen/

.storybook-out/

docker/ehrcron/scripts/pg_backup/lkbackup.ini
