.gradle

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/modules.xml
.idea/modules
.idea/dictionaries

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/jsLibraryMappings.xml

.idea/**/gradle.xml
.idea/**/libraries

docker/data

**/bower_components/
**/node_modules/
**/build/
**/out/
