<html>
<head>
    <script type="text/javascript">

        window.addEventListener('DOMContentLoaded', (event) => {
            new LABKEY.QueryWebPart({
                partName: 'Query',
                renderTo: 'viralLoadData',
                dataRegionName: 'vlqwp',
                schemaName: LABKEY.container.name + 'LinkedSchema',
                queryName: 'viral_load_data_filtered',
                frame: 'none'
            }).render();
        });

    </script>
</head>
<div id="viralLoadData"></div>
</html>