<html>
<body>

<span style="font-size: medium;">
    Direct links to the main sections of the LabKey site are below:
</span>    
<p/>
</span>
<span>
    <a class="labkey-main-title" href="<%=contextPath%>/project/WNPRC/EHR/About The EHR/begin.view?">About the EHR Project</a>
</span>
<p/>
<span>
    <a class="labkey-main-title" href="<%=contextPath%>/project/WNPRC/EHR/begin.view">Electronic Health Record</a>
</span>
<p/>
<span>
    <a class="labkey-main-title" href="<%=contextPath%>/project/WNPRC/WNPRC_units/begin.view">WNPRC Staff</a>
</span>
<p/>
<span>
    <a class="labkey-main-title" href="<%=contextPath%>/project/WNPRC/WNPRC_Laboratories/begin.view">Laboratories Associated with WNPRC</a>
</span>


</body>
</html>

