<html>
<body>


<p>
    <span style="text-decoration: underline;font-size: medium;">
        Overview of the EHR Project:
    </span>
</p>
<p class="Section1">
    The Wisconsin National Primate Research Center has been awarded a 2 year AARA supplement to build an Electronic Health Records (EHR) system, running from November 2009 through November 2011. This project will be carried out in collaboration with LabKey Software of Seattle, WA. Ben Bimber, a recent graduate of the O'Connor lab, is the liaison between WNPRC and LabKey.
    <br />
</p>
<p class="Section1">
    The EHR will primarily focus on clinical data; however, the new system will also include additional information about the animal, relevant to animal care and the operation of the Primate Center. This information will include:
</p>

<ul>
    <li>Clinical and pathology data</li>
    <li>Colony data including pedigree and housing<br /></li>
    <li>Laboratory data including MHC typing, viral loads and ClinPath assays<br /></li>
    <li>Administrative data such as account charges, RARC protocol and IACUC project information<br /></li>
</ul>
<p>
<br />    
    <span style="text-decoration: underline;font-size: medium;">
        Other Benefits WNPRC Staff and Associated Laboratories:
    </span>
</p>
<p>
    While not directly part of the EHR, several pre-existing features of the LabKey platform will be useful to WNPRC. Custom wiki pages can be created to permit sharing of information and files. User access can be controlled for each page or group of pages. Possible uses of these pages are:
</p>
<ul>
    <li>Pages for units or laboratories to post files or information to be shared by all WNPRC staff<br /></li>
    <li>Private sections accessible only to specific units, labs or individuals<br /></li>
    <li>Pages to disseminate information to the broader UW community<br /></li>
    <li>Pages for laboratories to securely share information with collaborators<br /></li>
</ul>

<p>If you are interested in creating a page or would simply like more information, please <a href="<%=contextPath%>/issues/WNPRC/EHR/Issue_Tracker/list.view?" target="new">submit a request</a>.
<br />
</p>

<p>
    <span style="text-decoration: underline;font-size: medium;">
        The Importance of User Feedback:
    </span>
</p>

<p>
The success of this project depends heavily on the involvement and satisfaction of all WNPRC staff who will use the EHR. Please do not hesitate to make suggestions or feature requests at any time. In the menu bar, there is a 'User Feedback' item, which will link directly to an issue tracker where comments can be submitted.
</p>
We will strive for openness and transparency on this project. This page will contain updates and current progress on the EHR project. The panel on the right of this page contains links to the project timeline, a summary of recent changes, current projects and other information on this project.
<p/>
We also ask for your patience and understanding during this transition. This is a two year project and not all changes can be made immediately. While we will do our best to accommodate requests, please understand that the needs of the entire center must be balanced.

</body>
</html>