<!--
<script src="http://www.gmodules.com/ig/ifr?url=http://jamocreations.com/widgets/google-analytics/igoogle.xml&amp;
up_profile_id=25982529&amp;
up_days=14&amp;
up_show_data_table=false&amp;
synd=open&amp;
w=320&amp;
h=200&amp;
title=Google+Analytics&amp;
lang=en&amp;
country=ALL&amp;
border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;
output=js">

</script>
!-->
<div style="height:520;overflow:hidden">
<iframe marginwidth="0"  marginheight="0" width="600" height="600" src="https://www.embeddedanalytics.com/reports/displayreport?reportcode=OZFilGaVma&chckcode=gaLfRD2KAiafl5rtlpuPf4" type="text/html" frameborder="0" scrolling="no"></iframe>
</div>
        
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="gettingStarted.js"></script>

<button id="authButton">Loading...</button>
<div id="dataControls" style="display:none">
  <p>
    For this user, retrieve the first 50 accounts with profile ID and table ID
    <button id="getAccount">Get Account Data</button>
  </p>
  <p>
    For this profile, show top 10 pageviews in descending order:
    <input type="text" id="tableId"/> (insert Table ID)
    <button id="getData">Get Report Data</button>
  </p>
</div>
<div id="outputDiv"></div>
<img src="dummy.gif" style="display:none" alt="required for Google Data"/>        