<html>
<div style="max-width:350px;">

There are several options for help:
<p></p>
<li><a href="<%=contextPath%>/project/WNPRC/EHR/Documentation/begin.view?">Click here for documentation</a> on how to use the EHR, including videos</li>
<p></p>
<li>If you have any comments, questions or feature requests, please submit them through the <a href="<%=contextPath%>/issues/WNPRC/EHR/Issue_Tracker/list.view?" target="new">EHR Issue Tracker</a></li>
<p></p>
<li>For more general inquries, you can also try the <a href="https://www.labkey.org/announcements/home/Server/Forum/list.view?">LabKey Help Forum</a></li>


</div>
</html>