<div class="ko-hider" style="display: none">

{{#if: LABKEY.Security.currentUser.isAdmin}}
<lk-webpartbox title="Admin Panel" params="innerVM: adminPanel">
    <p>Date: <input type="text" data-bind="textInput: choosenDate" class="jqueryui-datepicker"></p>

    <h1>Test EHR Message <a href="#" data-bind="click: CopyTestEHRMessage" style="font-size: 80%;"><em>Get HTML</em></a></h1>
    <div id="testEHRMessage">
        <p>Please see the <a href="{{changeListURL}}">What's New page</a> for a list of things that have changed and will be published to production soon.</p>
    </div>

    <h1>EHR Message <a href="#" data-bind="click: CopyEHRMessage" style="font-size: 80%;"><em>Get HTML</em></a></h1>
    <div id="prodEHRMessage">
        <p>EHR was updated on <strong>{{formattedDate}}</strong>.  If you would like to know what's changed, please see the <a href="{{changeListURL}}">What's New page</a> for a list of the individual updates.</p>
    </div>
</lk-webpartbox>
{{/if}}

<div id="copyPasteDialog" title="Copy Message">
    <h1>HTML</h1>
    <div>{{{htmlToCopy}}}</div>
    <h1>Text</h1>
    <textarea data-bind="textInput: htmlToCopy" style="width: 100%; height: 100px"></textarea>

    <p>
        Copy the HTML above, navigate to <a href="<%=contextPath%>/admin/customizeSite.view"><strong>Admin Console > Site Settings</strong></a>,
        and paste the content into the <em>Message HTML</em> field.
    </p>
</div>

{{#foreach: changes}}
    <lk-webpartbox params="title: title, html: html"></lk-webpartbox>
{{/foreach}}

</div>

<script>
    (function() {
        var $ = jQuery;
        var Ext = Ext4; // Do a local "upgrade".

        var VM = {
            choosenDate:  ko.observable(),
            htmlToCopy :  ko.observable(''),
            changes: ko.observableArray()
        };

        // Load the data
        WNPRC_EHR.API.controllerActions.getChanges().then(function(json){
            if (_.isUndefined(json)) {
                throw "The 'getChanges' api did not return proper JSON.";
            }
            $.each(json, function(key, value) {
                var title = key.split("/").pop().replace(/(.*).md$/, '$1');

                var baseURL = LABKEY.ActionURL.getBaseURL();
                var ticketURL = "https://ehr.primate.wisc.edu/issues/WNPRC/WNPRC_Units/Research_Services/EHR_Services/Issue_Tracker/details.view?issueId="

                value.text = value.text.replace(/https?:\/\/labkeybaseurl\.com/ig, LABKEY.ActionURL.getBaseURL());
                value.text = value.text.replace(/{{WNPRC#(\d+)}}/ig, "[WNPRC#$1](" +ticketURL + "$1)");

                VM.changes.push({
                        title: title,
                        html:  markdown.toHTML(value.text)
                });
            });
        }).catch(function(error) {
            var $span = $(document.createElement('p'));
            $span.text("An error occurred while loading content: " + error.message).css('color','red');
            $('#changeList').append($span);
        });

        var $copyPasteDialog = $('#copyPasteDialog');
        $copyPasteDialog.dialog({
            minWidth: 600,
            autoOpen: false
        });
        var copyMessageFromId = function(id) {
            var $node = $('#' + id).clone();

            // Remove knockout from HTML
            $node.find('*').removeAttr('data-bind');
            var html = $node.html().replace(/<!--.*?-->/g, '');
            VM.htmlToCopy(html);

            $copyPasteDialog.dialog('open');
        };

        // Handle the Admin portions of the page.
        VM.adminPanel = {
            CopyTestEHRMessage: function(){ copyMessageFromId('testEHRMessage') },
            CopyEHRMessage:     function(){ copyMessageFromId('prodEHRMessage') },
            choosenDate: VM.choosenDate,
            afterRender: function(element) {
                $(element).find(".jqueryui-datepicker").datepicker();
            },
            formattedDate: ko.computed(function(){
                var date = VM.choosenDate() || "";

                if (date) {
                    date = new Date(date);

                    if ( date == 'Invalid Date' ) { // "Invalid Date" (as returned by Date) is not technically a string, so don't use '==='
                        return date;
                    }
                    else {
                        return Ext.Date.format(date, 'M d');
                    }
                }
                else {
                    return "[please pick a date]";
                }
            }),
            changeListURL: ko.computed(function(){
                var url = LABKEY.ActionURL.buildURL('wnprc_ehr', 'whatsNew', 'WNPRC/EHR');
                return url;
            })
        };


        ko.applyBindings(VM);
        $('.ko-hider').show();
    })();
</script>