.content-wrapper {
    margin-bottom: 20px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
    max-width: 620px;
    margin-left: 20px;
}

.card.content-wrapper {
    border-radius: 5px;
    padding-bottom: 0;
    border: 5px solid #edebe0;
}

.content-wrapper-body {
    padding: 15px;
}

.form-wrapper {
    max-width: 600px;
}

/*override some datepicker css to get it to line up with the other fields*/
.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container > input {
    width: 100%;
    min-height: 1px;
    height: 27px;
    border: 1px solid rgb(166,166,166);
    border-image: initial;
    padding-left: 15px;
    padding-right: 15px;
}

#datepicker {
    padding-left: 0;
    padding-right: 0;
}
/**/

.form-wrapper-custom {
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.remove-record-button {
    float: right;
    margin-left: 0px;
}

.remove-record-button {
    margin-left: 0px;
    float: right;
    background-color: #e0e0e0;
    border: none;
    font-size: 2rem;
}

.card-body {
    margin-bottom: 1rem;
}

.btn-wrap {
    display: inline-flex;
    float: right;
    margin-right: 15px;
}

.custom-submit {
    margin-right: 5px;
}

.form-control-textarea {
    height: 100px;
    border: 1px solid rgb(166,166,166);
}

.form-control-input {
    height: 27px;
    border: 1px solid rgb(166,166,166);
}

.form-control-label {
    line-height: 27px;
    text-align: right;
}

.top-buffer {
    padding-top: 5px;
}

/*css for select dropdown boxes since they look bad on safari by default*/
.select {
    position: relative;
    height: 47.5px;
    background: white;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .05);
}

select {
    font-size: 14px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-right: 35px;
    padding-left: 15px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/_images/arrow_down.png) right no-repeat !important;
    text-transform: Capitalize !important;

}
/**/

.loading {
    text-align: center;
    display: block;
    position: relative;
    background: url(/_images/ajax-loading.gif) left no-repeat !important;
    background-size: fill;
    font-size: 2em;
    padding: 20px 0 0 0;
    z-index: 3;
}

#help-tooltip {
    font-size: 12px;
    top: 0px;
}

.form-submitted {
    cursor:wait !important;
}

.project-nav ul li {
    height: 25px;
}