<script type="text/javascript">

Ext4.onReady(function (){
    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
        return;

    EHR.Utils.getReportLinks({
        linkTypes: ['animalSearch'],
        success: function(results){
            var results = results.animalSearch || {};

            var domSpec = [{
                tag: 'div',
                children: [{
                    tag: 'p',
                    html: 'This page allows you to identify animals across the colony, based on different criteria.  Examples of this could include identifying animals to enroll in a study, or determining which animals are due for TB Testing.  Below are links to pre-defined reports, or you can use the search panel below to begin querying the animals.'
                }]
            }];

            if (results && results.domSpec && results.domSpec.length){
                domSpec = domSpec.concat(results.domSpec);
            }

            domSpec = domSpec.concat([{
                tag: 'div',
                style: 'padding-top: 20px;',
                id: 'animalSearch_'+webpart.wrapperDivId
            }]);

            var el = Ext4.get(webpart.wrapperDivId);
            Ext4.DomHelper.append(el, domSpec);

            Ext4.create('LABKEY.ext4.SearchPanel', {
                schemaName: 'study',
                queryName: 'Demographics',
                viewName: 'Search Panel',
                title: 'Search Criteria',
                defaultViewName: 'Alive, at Center',
                LABEL_WIDTH: 200,
                width: 660,
                metadata: {
                    Id: {lookups: false},
                    'Id/age/AgeInYearsRounded': {duplicate: true, editorConfig: {hideTrigger: true, minValue: 0}},
                    'Id/MostRecentWeight/MostRecentWeight': {duplicate: true, editorConfig: {hideTrigger: true, minValue: 0}},
                    'Id/numRoommates/AnimalsInCage': {editorConfig: {hideTrigger: true, minValue: 0}}
                }
            }).render('animalSearch_'+webpart.wrapperDivId);
        },
        failure: LDK.Utils.getErrorCallback(),
        scope: this
    });
});

</script>