<script type="text/javascript">

Ext4.onReady(createNavMenu);

function createNavMenu(){
    if (!window.EHR || !window.EHR.ext || !window.EHR.ext.NavMenu){
        Ext4.defer(createNavMenu, 10);
        return;
    }

    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);

    if(!ctx)
        return;

    Ext4.get(webpart.wrapperDivId).update(
        '<div style="max-width:920px">' +
        '    Below are the sections of the Electronic Health Record.  If there are additional reports you would like, please submit a request <a href="<%=contextPath%>/issues' + ctx['EHRStudyContainer'] + '/Issue_Tracker/list.view?" target="_blank">here</a>.' +
        '   <br><br>' +
        '</div>' +
        '<table>' +
        '<tr style="vertical-align:top">' +
        '    <td style="width:300px">' +
        '        <div id="ehrMenu1_'+webpart.wrapperDivId+'"></div>' +
        '    </td>' +
        '    <td style="width:300px;vertical-align:top">' +
        '        <div id="ehrMenu2_'+webpart.wrapperDivId+'"></div>' +
        '    </td>' +
        '    <td style="width:300px;vertical-align:top">' +
        '        <div id="ehrMenu3_'+webpart.wrapperDivId+'"></div>' +
        '    </td>' +
        '</tr>' +
        '</table>'
    );

    new EHR.ext.NavMenu({
        width: 270,
        renderTo: 'ehrMenu1_'+webpart.wrapperDivId,
        sections: [
            {header: 'By Animal',
            items: [
                {name: 'Animal History', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view?'},
                {name: 'Animal Search', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalSearch.view?'}
                ]},
            {header: 'By Dataset',
            items: [
                {name: 'Browse All Datasets', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/datasets.view?'},
                {name: 'Clinical Remarks', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Clinical%20Remarks'},
                {name: 'Housing Queries', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/housingQueries.view?'},
                {name: 'Protocol and Project Queries', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/projectQueries.view?'}
            ]},
            {header: 'By Location',
            items: [
                {name: 'Search By Room, Floor or Cage', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage'},
                {name: 'Irregular Obs By Location', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:obs'},
                {name: 'Clinical Remarks By Location', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:clinremarks'}
            ]},
            {header: 'Today At Center',
            items: [
                {name: 'Blood Draw Schedule', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:none&showReport:1&activeReport:todaysBlood'},
                {name: 'Irregular Observations', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:obs'},
                {name: 'Treatment Schedule - AM', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:treatmentScheduleAM'},
                {name: 'Treatment Schedule - PM', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:treatmentSchedulePM'},
                {name: 'Treatment Schedule - Night', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:treatmentScheduleNight'},
                {name: 'Treatment Schedule - All', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#inputType:roomCage&activeReport:treatmentSchedule'},
                {name: 'Forms Completed Today', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=ehr&query.queryName=TasksByLocation&query.viewName=Completion Times&query.taskid/Created~dateeq='+(new Date()).format('Y-m-d')}
            ]}
        ]
    });


    new EHR.ext.NavMenu({
        width: 270,
        renderTo: 'ehrMenu2_'+webpart.wrapperDivId,
        sections: [
            {header: 'Entire Colony',
            items: [
                {name: 'Animal Utilization By Category', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=colonyAssignmentSummary'},
                {name: 'Colony Population By Age', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=colonyPopulationByAge'},
                {name: 'Population Summary', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/populationOverview.view?'}
            ]}
        ]
    });

    var menuCfg = {
        width: 270,
        renderTo: 'ehrMenu3_'+webpart.wrapperDivId,
        sections: [
            {header: 'Misc',
            items: [
                {name: 'About the EHR Project', url: '<%=contextPath%>/project' + ctx['EHRStudyContainer'] + '/About The EHR/begin.view?'},
                {name: 'Compare Lists of Animals', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/utilities.view?'},
                {name: 'Run SQL Directly', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/executeSql.view?'},
                {name: 'Search Center SNOMED Codes', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=ehr_lookups&query.queryName=snomed'},
                {name: 'Search ALL SNOMED Codes', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=ehr_lookups&query.queryName=full_snomed'}
            ]},
            {header: 'Data Entry',
            items: [
                {name: 'Enter Data', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/dataEntry.view'}
            ]},
            {header: 'Request Services',
            items: [
                {name: 'Views Requests', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/requestServices.view'},
                {name: 'Request Blood Draws', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/manageRequest.view?formtype=Blood%20Draw%20Request'},
                {name: 'Request Clinpath Services', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/manageRequest.view?formtype=Clinpath%20Request'}
            ]}
        ]
    }

    if (LABKEY.Security.currentUser.isAdmin){
        menuCfg.sections.push({
            header: 'Admin',
            items: [
                {name: 'EHR Admin Page', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/ehrAdmin.view'},
                {name: 'Manage EHR Study', url: '<%=contextPath%>/study' + ctx['EHRStudyContainer'] + '/manageStudy.view?'},
                {name: 'Manage Lookup Tables', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/dataAdmin.view'}
            ]
        })

    }

    new EHR.ext.NavMenu(menuCfg);

}

</script>