<script type="text/javascript">

Ext4.onReady(function(){
    var formType = LABKEY.ActionURL.getParameter('formType') || LABKEY.ActionURL.getParameter('formtype');
    var taskId = LABKEY.ActionURL.getParameter('taskId') || LABKEY.ActionURL.getParameter('taskid');
    var requestId = LABKEY.ActionURL.getParameter('requestId') || LABKEY.ActionURL.getParameter('requestid');

    if (!taskId && !requestId){
        alert('Must provide form type and either the taskId or requestId');
    }
    else {
        var webpart = <%=webpartContext%>;
        Ext4.create('EHR.panel.DataEntryFormDetailsPanel', {
            taskId: taskId,
            requestId: requestId,
            formType: formType
        }).render(webpart.wrapperDivId);
    }
});

</script>