<script type="text/javascript">

Ext4.onReady(function (){
    var project = LABKEY.ActionURL.getParameter('project') || LABKEY.ActionURL.getParameter('key');
    if (!project){
        alert('Must Provide Project Number');
        return;
    }

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'projectDetails_' + webpart.wrapperDivId
//    },{
//        tag: 'div',
//        style: 'padding-bottom: 10px;',
//        id: 'projectLinks_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'projectAssignments_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'projectTotalAssignments_' + webpart.wrapperDivId
    }]

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);

    Ext4.create('LDK.panel.DetailsPanel', {
        store: {
            schemaName: 'ehr',
            queryName: 'project',
            filterArray: [
                LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)
            ]
        },
        title: 'Project Details',
        renderTo: 'projectDetails_' + webpart.wrapperDivId
    });

    new LABKEY.QueryWebPart({
        title: 'Active Assignments',
        schemaName: 'study',
        queryName: 'Assignment',
        viewName: 'Active Assignments',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)],
//        viewName: 'Active Assignments',
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('projectAssignments_' + webpart.wrapperDivId);


    new LABKEY.QueryWebPart({
        title: 'All Assignments',
        schemaName: 'study',
        queryName: 'Assignment',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)],
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('projectTotalAssignments_' + webpart.wrapperDivId);

//    Ext4.create('LDK.panel.WebpartPanel', {
//        margin: '0 0 0 0',
//        title: 'Project Information',
//        bodyStyle: 'padding:5px;',
//        defaults: {
//            linkCls: 'labkey-text-link',
//            style: 'padding-bottom:10px'
//        },
//        items: [{
//            xtype: 'ldk-linkbutton',
//            text: 'View Charges Under This Project',
//            handler: function(c){
//                var params = {schemaName: 'study'};
//                params['query.queryName'] = 'charges';
//                params['query.project~eq'] = project;
//
//                window.open(LABKEY.ActionURL.buildURL(
//                    'query',
//                    'executeQuery.view',
//                    LABKEY.ActionURL.getContainer(),
//                    params
//                ));
//            }
//        },{
//            xtype: 'ldk-linkbutton',
//            text: 'View Procedures Under This Project',
//            handler: function(c){
//                var params = {schemaName: 'study'};
//                params['query.queryName'] = 'encounters';
//                params['query.project~eq'] = project;
//
//                window.open(LABKEY.ActionURL.buildURL(
//                    'query',
//                    'executeQuery.view',
//                    LABKEY.ActionURL.getContainer(),
//                    params
//                ));
//            }
//        },{
//            xtype: 'ldk-linkbutton',
//            text: 'View All Items Under This Project',
//            handler: function(c){
//                var params = {schemaName: 'study'};
//                params['query.queryName'] = 'studyData';
//                params['query.project~eq'] = project;
//
//                window.open(LABKEY.ActionURL.buildURL(
//                    'query',
//                    'executeQuery.view',
//                    LABKEY.ActionURL.getContainer(),
//                    params
//                ));
//            }
//        }]
//    }).render('projectLinks_' + webpart.wrapperDivId);
});

</script>