<script type="text/javascript">

Ext4.onReady(makePanel)

function makePanel(){
    if (!window.EHR || !window.EHR.ext || !window.EHR.Utils){
        Ext4.defer(makePanel, 10);
        return;
    }

    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if (!ctx)
        return;

    Ext4.define('EHR.panel.QuickSearchPanel', {
        extend: 'Ext.form.Panel',
        FIELD_WIDTH: 180,
        BUTTON_WIDTH: 125,
        BUTTON_STYLE: 'margin-left: 4px;',
        FIELD_STYLE: 'margin-top: 4px;',

        initComponent: function (){
            Ext4.apply(this, {
                style: 'padding: 5px;',
                layout: {
                    type: 'table',
                    columns: 2
                },
                width: 325,
                border: false,
                defaults: {
                    border: false
                },
                items: [{
                    html: 'Animal:',
                    colspan: 2
                },{
                    xtype: 'textfield',
                    name: 'animal',
                    itemId: 'animalField',
                    style: this.FIELD_STYLE,
                    width: this.FIELD_WIDTH,
                    listeners: {
                        scope: this,
                        specialkey: function(field, e){
                            if (e.getKey() === e.ENTER){
                                var btn = field.up('panel').down('#animalBtn');
                                btn.handler.call(btn.scope || btn, btn);
                            }
                        }
                    }
                },{
                    xtype: 'button',
                    border: true,
                    text: 'Show Animal',
                    style: this.BUTTON_STYLE,
                    width: this.BUTTON_WIDTH,
                    itemId: 'animalBtn',
                    handler: function (btn){
                        var field = btn.up('panel').down('#animalField');
                        var value = field.getValue();
                        if (!value)
                            return;

                        value = LDK.Utils.splitIds(value);

                        if (value.length > 1){
                            window.location = LABKEY.ActionURL.buildURL(
                                'ehr',
                                'animalHistory',
                                ctx['EHRStudyContainer']
                            ) + '#subjects:' + value.join(';') + '&inputType:multiSubject&showReport:1';
                        }
                        else {
                            window.location = LABKEY.ActionURL.buildURL(
                                'ehr',
                                'participantView',
                                ctx['EHRStudyContainer'],
                                {participantId: value.join(';')}
                            );
                        }
                    },
                    scope: this
                },{
                    html: '<a href="' + (LABKEY.ActionURL.buildURL('ehr', 'animalSearch', ctx['EHRStudyContainer'])) + '">Advanced Animal Search</a>',
                    colspan: 2
//                },{
//                    html: 'Animal Groups:',
//                    style: 'padding-top: 10px;',
//                    colspan: 2
//                },{
//                    emptyText:'',
//                    name: 'animalGroup',
//                    itemId: 'animalGroup',
//                    xtype: 'combo',
//                    displayField:'name',
//                    valueField: 'name',
//                    width: this.FIELD_WIDTH,
//                    editable: true,
//                    triggerAction: 'all',
//                    store: new LABKEY.ext.Store({
//                        containerPath: ctx['EHRStudyContainer'],
//                        schemaName: 'ehr',
//                        queryName: 'animal_groups',
//                        sort: 'name',
//                        autoLoad: true
//                    })
//                },{
//                    xtype: 'button',
//                    border: true,
//                    text: 'Show Group',
//                    width: this.BUTTON_WIDTH,
//                    handler: function(btn){
//                        var field = btn.ownerCt.find('itemId', 'animalGroup')[0];
//                        var value = field.getValue();
//                        if (!value)
//                            return;
//
//                        window.location = LABKEY.ActionURL.buildURL(
//                            'query'
//                            ,'executeQuery'
//                            ,ctx['EHRStudyContainer']
//                            ,{schemaName: 'study', 'query.queryName': 'Demographics', 'query.viewName': value}
//                        );
//                    },
//                    scope: this
//                },{
//                    html: '<a href="'+(LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {
//                        schemaName: 'study',
//                        'query.queryName': 'Demographics',
//                        'query.viewName': 'Alive, at Center'
//                    }))+'">View All Living Animals</a>',
//                    colspan: 2
                },{
                    html: 'Center Project:',
                    style: 'padding-top: 10px;',
                    colspan: 2
                },{
                    itemId: 'projectField',
                    name: 'projectField',
                    xtype: 'ehr-projectfield',
                    forceSelection: true,
                    fieldLabel: null,
                    width: this.FIELD_WIDTH,
                    style: this.FIELD_STYLE,
                    listeners: {
                        scope: this,
                        specialkey: function(field, e){
                            if (!field.isExpanded && e.getKey() === e.ENTER){
                                field.assertValue();
                                var btn = field.up('panel').down('#projectBtn');
                                btn.handler.call(btn.scope || btn, btn);
                            }
                        }
                    }
                },{
                    xtype: 'button',
                    border: true,
                    text: 'Show Project',
                    width: this.BUTTON_WIDTH,
                    style: this.BUTTON_STYLE,
                    itemId: 'projectBtn',
                    handler: function (btn){
                        var field = btn.up('panel').down('#projectField');
                        var value = field.getValue();
                        if (!value)
                            return;

                        window.location = LABKEY.ActionURL.buildURL('ehr', 'projectDetails', ctx['EHRStudyContainer'], {project:value});
                    }
                },{
                    html: '<a href="' + (LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'ehr', 'query.queryName': 'project', 'query.viewName': 'Active Projects'})) + '">[View Active Projects]</a> <a href="' + (LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'ehr', 'query.queryName': 'project'})) + '">[View All Projects]</a>',
                    colspan: 2
                },{
                    html: 'IACUC Protocol:',
                    style: 'padding-top: 10px;',
                    colspan: 2
                },{
                    itemId: 'protocolField',
                    fieldLabel: null,
                    xtype: 'ehr-protocolfield',
                    forceSelection: true,
                    width: this.FIELD_WIDTH,
                    style: this.FIELD_STYLE,
                    name: 'protocolField',
                    listeners: {
                        scope: this,
                        specialkey: function(field, e){
                            if (!field.isExpanded && e.getKey() === e.ENTER){
                                field.assertValue();
                                var btn = field.up('panel').down('#protocolBtn');
                                btn.handler.call(btn.scope || btn, btn);
                            }
                        }
                    }
                },{
                    xtype: 'button',
                    border: true,
                    text: 'Show Protocol',
                    width: this.BUTTON_WIDTH,
                    style: this.BUTTON_STYLE,
                    itemId: 'protocolBtn',
                    handler: function(btn){
                        var field = btn.up('panel').down('#protocolField');
                        var value = field.getValue();

                        if (!value)
                            return;

                        window.location = LABKEY.ActionURL.buildURL('ehr', 'protocolDetails', ctx['EHRStudyContainer'], {protocol:value});
                    }
                },{
                    html: '<a href="' + (LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'ehr', 'query.queryName': 'protocol', 'query.viewName': 'Active Protocols'})) + '">[View Active Protocols]</a> <a href="' + (LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'ehr', 'query.queryName': 'protocol'})) + '">[View All Protocols]</a>',
                    colspan: 2
                },{
                    html: 'Room:',
                    style: 'padding-top: 10px;',
                    colspan: 2
                },{
                    xtype: 'ehr-roomfieldsingle',
                    itemId: 'roomField',
                    name: 'room',
                    width: this.FIELD_WIDTH,
                    style: this.FIELD_STYLE,
                    listeners: {
                        scope: this,
                        specialkey: function(field, e){
                            if (!field.isExpanded && e.getKey() === e.ENTER){
                                var btn = field.up('panel').down('#roomBtn');
                                btn.handler.call(btn.scope || btn, btn);
                            }
                        }
                    }
                },{
                    xtype: 'button',
                    border: true,
                    text: 'Show Room',
                    itemId: 'roomBtn',
                    width: this.BUTTON_WIDTH,
                    style: this.BUTTON_STYLE,
                    handler: function(btn){
                        var field = btn.up('panel').down('#roomField');
                        var value = field.getValue();
                        if (!value)
                            return;

                        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {'schemaName':'study', 'query.queryName':'Demographics', 'query.Id/curLocation/Room/room~eq':value, 'query.viewName':'Alive, at Center'});
                    }
                },{
                    html: '<a href="' + (LABKEY.ActionURL.buildURL('ehr', 'housingQueries', ctx['EHRStudyContainer'])) + '">Advanced Housing Search</a>',
                    height: 20,
                    colspan: 2
                }]
            });

            if (this.hoverPart)
                this.mon(this.hoverPart, 'beforehide', this.onBeforeHide, this);

            this.callParent(arguments);
        },

        onBeforeHide: function(hover){
            return !this.hasFocus();
        },

        hasFocus: function(){
            var hasFocus = false;
            this.getForm().getFields().each(function(f){
                if (f.hasFocus){
                    hasFocus = true;
                    return false;
                }
            }, this);
            return hasFocus;
        }
    });

    Ext4.create('EHR.panel.QuickSearchPanel', {
        hoverPart: HoverNavigation.Parts[webpart.hoverPartName]
    }).render(webpart.wrapperDivId);
}

</script>