/* Contains formatting helpful when trying to render content for printing */

@media print {
    .page-break {
        clear: left;
        display:block;
        page-break-after:always;
    }
}
.label{
    /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
    width: 2.025in; /* plus .6 inches from padding */
    height: .875in; /* plus .125 inches from padding */
    padding: .125in .3in 0;
    margin-right: .125in; /* the gutter */

    float: left;

    text-align: center;
    overflow: hidden;

    outline: 1px dotted; /* outline doesn't occupy space like border does */
}
.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}