<script type="text/javascript">

    Ext4.onReady(function(){

        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        var billingCtx = LABKEY.getModuleContext('ehr_billing');
        var issuesContainer = billingCtx ? billingCtx.IssuesContainer : null;

        var queryController = EHR_Billing.BillingUtils.isBillingAdmin() ? 'ldk' : 'query';
        var ehrQueryController = EHR_Billing.BillingUtils.isBillingAdmin() ? 'ehr' : 'query';
        var queryAction = EHR_Billing.BillingUtils.isBillingAdmin() ? 'updateQuery' : 'executeQuery';

        Ext4.create('Ext.panel.Panel', {
            renderTo: webpart.wrapperDivId,
            bodyStyle: 'padding: 10px;',
            border: false,
            items: [{
                html: 'This is the homepage for finance data at WNPRC.<br>',
                border: false,
                style: 'padding-bottom: 10px;'
            },{
                xtype: 'ldk-navpanel',
                itemDefaults: {
                    linkCls: 'none'
                },
                sections: [{
                    header: 'Accounts Receivable',
                    items: [
                        {name: 'Invoices', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'ehr_billing', 'query.queryName': 'invoice', 'query.viewName': 'AccountsReceivable', showImport: false})}
                    ]
                },{
                    header: 'Current Billing Period / Adjustments',
                    items: [
                        {name: 'Billing Period Summary / Discrepancy Report', url: LABKEY.ActionURL.buildURL('ldk', 'runNotification', ctx.EHRStudyContainer, {key: 'org.labkey.ehr_billing.notification.BillingNotification'})},
                        {name: 'Estimated Charges By Project', url: LABKEY.ActionURL.buildURL('wnprc_billing', 'invoiceEstimate', null)},
                        {name: 'View Charges and Adjustments Not Yet Billed', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx.EHRStudyContainer, {schemaName: 'ehr_billing', 'query.queryName': 'miscCharges', 'query.viewName': 'Charges Not Billed'})},
                        {name: 'Perform Billing Run', url: LABKEY.ActionURL.buildURL('ehr_billing', 'billingPipeline', null)},
                        {name: 'Invoice Runs', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceRuns'})},
                        {name: 'Invoice External - Latest Run', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceExternalLastRun'})},
                        {name: 'Invoice Internal - Latest Run', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceInternalLastRun'})}

                        ].concat(issuesContainer ? [{name: 'Finance Issue Tracker', url: LABKEY.ActionURL.buildURL('issues', 'begin', issuesContainer)}] : [])
                },{
                    header: 'Charges Data Entry',
                    items: [
                        {name: 'Enter Charges with Animal Ids', url: LABKEY.ActionURL.buildURL('ehr', 'dataEntryForm', ctx.EHRStudyContainer, {formType: 'Charges'})},
                        {name: 'Enter Charges without Animal Ids', url: LABKEY.ActionURL.buildURL('ehr', 'dataEntryForm', ctx.EHRStudyContainer, {formType: 'NonAnimalCharges'})}
                    ]
                },{
                    header: 'Historic Billing Data',
                    items: [
                        {name: 'Monthly Summary Direct', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceRunMonthlySummaryDirect'})},
                        {name: 'Monthly Summary Indirect', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceRunMonthlySummaryIndirect'})},
                        {name: 'Invoiced Items', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoicedItems'})},
                        {name: 'Invoice External', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceExternal'})},
                        {name: 'Invoice Internal', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'invoiceInternal'})}
                    ]
                },{
                    header: 'Reference Tables',
                    items: [
                        {name: 'IACUC Protocols', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx.EHRStudyContainer, {schemaName: 'ehr', 'query.queryName': 'protocol'})},
                        {name: 'WNPRC Projects', url: LABKEY.ActionURL.buildURL(queryController, queryAction, ctx.EHRStudyContainer, {schemaName: 'ehr', 'query.queryName': 'project', showImport: true})},
                        {name: 'Grant Accounts - Active', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'ehr_billing', 'query.queryName': 'aliases', 'query.viewName': 'Active Grant Accounts', showImport: false})},
                        {name: 'Grant Accounts - ALL', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'ehr_billing', 'query.queryName': 'aliases', showImport: true})},
                        {name: 'Investigators', url: LABKEY.ActionURL.buildURL(queryController, queryAction, ctx.EHRStudyContainer, {schemaName: 'ehr', 'query.queryName': 'investigators', showImport: true})},
                        {name: 'Financial Analysts', url: LABKEY.ActionURL.buildURL(queryController, queryAction, ctx.EHRStudyContainer, {schemaName: 'ehr_billing', 'query.queryName': 'fiscalAuthorities', showImport: true})},
                        {name: 'Departments', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'wnprc_billing', 'query.queryName': 'groups',showImport: true})}
                    ]
                },{
                    header: 'Charge Category and Rates',
                    items: [
                        {name: 'Charge Units', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'ehr_billing', 'query.queryName': 'chargeUnits', showImport: true})},
                        {name: 'Chargeable Item Categories', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'ehr_billing', 'query.queryName': 'chargeableItemCategories', showImport: true})},
                        {name: 'Chargeable Items', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'chargeableItems', showImport: true})},
                        {name: 'Standard Rates', url: LABKEY.ActionURL.buildURL("query", "executeQuery", null, {schemaName: 'ehr_billing', 'query.queryName': 'chargeRates', showImport: true})},
                        {name: 'Tier Rates', url: LABKEY.ActionURL.buildURL(queryController, queryAction, null, {schemaName: 'wnprc_billing', 'query.queryName': 'tierRates', showImport: true})},
                    ]
                },{
                    header: 'Other',
                    items: [
                        {name: 'Access To Billing Data', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'ehr_billing', 'query.queryName': 'dataAccess'})}
                    ]
                }]
            }]
        });
    });

</script>