<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload = "getValues()">

    <table id="myTable" style="border: 1px solid black; font-size: 15px; width: 800px; text-align: center">
        <tr>
            <th style="padding:5px; font-size:20px; text-align: center; text-decoration: underline">Variable</th>
            <th style="padding:5px; font-size:20px; text-align: center; text-decoration: underline">Current Value</th>
            <th style="padding:5px; font-size:20px; text-align: center; text-decoration: underline">New Value</th>
            <th></th>
        </tr>
        <tr>
            <td style="padding:5px">CreditToAccount</td>
            <td style="padding:5px" id="ctaCell1"></td>
            <td style="padding:5px" id="ctaCell2">
                <form>
                    <input type="text" id="field1" name="field1">
                </form>
            </td>
            <td style="padding:5px">
                <button id="field1Button" onclick="updateField1()">Update CreditToAccount</button>
            </td>
        </tr>
        <tr>
            <td style="padding:5px">JETCSVSetting</td>
            <td style="padding:5px" id="jetcsvCell1"></td>
            <td style="padding:5px" id="jetcsvCell2">
                <form>
                    <input type="text" id="field2" name="field2">
                </form>
            </td>
            <td style="padding:5px">
                <button id="field2Button" onclick="updateField2()">Update JETCSVSetting</button>
            </td>
        </tr>
    </table>

    <script>
        function updateField1() {
            let field1NewValue = document.getElementById("field1").value;
            setValues("CreditToAccount", "" + field1NewValue);
        }

        function updateField2() {
            let field2NewValue = document.getElementById("field2").value;
            setValues("JETCSVSetting", "" + field2NewValue);
        }

        //This function updates the view with the current values for 'CreditToAccount' and 'JetCsvSetting'.
        function getValues() {
            LABKEY.Ajax.request({
                url: LABKEY.ActionURL.buildURL('wnprc_billing', 'getProgramIncomeAccount', null, {}),
                callback: function (config, success, xhr) {
                    if (success) {
                        var jsonResponse = JSON.parse(xhr.responseText);
                        var currentCreditToAccount = jsonResponse.creditToAccount;
                        var currentJETCSVSetting = jsonResponse.jetCSVSetting;
                        document.getElementById("ctaCell1").innerHTML = currentCreditToAccount;
                        document.getElementById("jetcsvCell1").innerHTML = currentJETCSVSetting;
                    }
                    else {
                        alert('Couldn\'t get program income account.');
                    }
                }
            });
        }

        //This function verifies the user has the EHRFinanceAdminPermission, then sets the new
        // values for 'CreditToAccount' and 'JetCsvSetting'.
        function setValues(propertyName, newValue) {
            if ((propertyName !== "") && (newValue !== "")) {
                //Verifies the current user has EHRFinanceAdminPermission.
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('wnprc_billing', 'checkFinanceAdminStatus', null, {}),
                    callback: function (config, success, xhr) {
                        if (success) {
                            //Sets the new module property values.
                            let parentContainer = LABKEY.Security.currentContainer.parentId;
                            let newPropertyValue = newValue;
                            let propertyToUpdate = propertyName;
                            let moduleToUpdate = "wnprc_billing"

                            //Creates an object with the new module property values.
                            var newProperties = [];
                            newProperties.push({
                                container: parentContainer,
                                value: newPropertyValue,
                                propName: propertyToUpdate,
                                moduleName: moduleToUpdate
                            });

                            //Updates properties.
                            LABKEY.Ajax.request({
                                url: LABKEY.ActionURL.buildURL('core', 'saveModuleProperties', null),
                                method: "POST",
                                jsonData: {
                                    properties: newProperties
                                },
                                headers: {
                                    'Content-Type' : 'application/json'
                                },
                                callback: function (config, success, xhr) {
                                    if (success) {
                                        getValues();
                                        document.getElementById("field1").value = "";
                                        document.getElementById("field2").value = "";
                                    }
                                    else {
                                        alert("Unable to update the program income account.  AJAX response failed.");
                                    }
                                }
                            });
                        }
                        else {
                            alert("Unable to update the program income account.  User does not have the correct permissions.");
                        }
                    }
                })
            }
            else {
                alert("Unable to update the program income account.  One or more fields are empty.");
            }
        }
    </script>
</body>
</html>