<module xmlns="http://labkey.org/moduleProperties/xml/">
    <clientDependencies>
        <dependency path="webutils/lib/webutils"/>
        <dependency path="webutils/models/models"/>
        <dependency path="ehr/ehr_api"/>
        <dependency path="ehr/ehr_ext3_api"/>
    </clientDependencies>
    <properties>
        <propertyDescriptor name="BCGoogleDriveAccount">
            <canSetPerContainer>true</canSetPerContainer>
            <description>Id for the Google Drive Account that EHR should save BC reports to.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="VirologyResultsUploadFolder">
            <description>Folder location where virology results should be uploaded to.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="AssignsSecureMessageBoardPrivateFolder">
            <description>Folder location where the assigns group internal message board lives.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="AssignsSecureMessageBoardRestrictedFolder">
            <description>Folder location where the assigns group restricted message board lives.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="BloodDrawThreshold">
            <description>Threshold in mL of blood draws getting close to empty</description>
            <defaultValue>4</defaultValue>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
</module>