<html>
    <script type="text/javascript">
        (function() {
            var createNavMenu = function() {

                Ext4.create('EHR.NavMenu', {
                    renderTo: 'pathologyMenu',
                    sections: [
                        {
                            header: 'Manage Lists',
                            items: [
                                {
                                    name: 'External Labs',
                                    url: LABKEY.ActionURL.buildURL('ehr', 'updateQuery', 'WNPRC/EHR', {
                                        schemaName: 'wnprc',
                                        'query.queryName': 'external_labs'
                                    })
                                }
                            ]
                        }
                    ]
                });
            };

            Ext4.onReady(createNavMenu);
        })();
    </script>
    <body>
        <div id="pathologyMenu"></div>
    </body>
</html>
