<script type="text/javascript">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    var container = LABKEY.getModuleProperty('ehr_compliancedb', 'EmployeeContainer');
    var pdfs= LABKEY.getModuleProperty('ehr_compliancedb', 'PDFContainer')
    if (!container){
        Ext4.get(webpart.wrapperDivId).update('Error: the containerPath to the folder holding compliance data has not been set.  Please contact your administrator.')
        return;
    }

    Ext4.create('LDK.panel.NavPanel', {
        renderTo: webpart.wrapperDivId,
        sections: [
            {header: 'SOPs',
            items: [
                {name: 'SOP Issue Tracker', url: '<%=contextPath%>/issues/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/SOP_DB/list.view?Issues.Status~eq=open'},
                {name: 'View/Edit SOPs', url: '<%=contextPath%>/list/'+pdfs +'/grid.view?name=SOPs'},
                {name: 'View/Edit SOPs Required For Each Employee Category', url: '<%=contextPath%>/query' + container + '/executeQuery.view?schemaName=ehr_compliancedb&query.queryName=sopbycategory'},
                {name: 'View/Edit Dates Employees Read Their SOPs', url: '<%=contextPath%>/query' + container + '/executeQuery.view?schemaName=ehr_compliancedb&query.queryName=SOPDates'},
                {name: 'View The Most Recent Date Employees Read Each SOPs', url: '<%=contextPath%>/query' + container + '/executeQuery.view?schemaName=ehr_compliancedb&query.queryName=SOPrequirements'}
            ]}
        ]
    });
});

</script>