<html>
<script type="text/javascript">

Ext4.onReady(createNavMenu);

function createNavMenu()
{
    Ext4.create('EHR.NavMenu', {
        renderTo: 'animalServices',
        sections: [
            {header: 'All Staff Minutes',
            items: [
                {name:'Meeting Notes', url:'<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/begin.view?'}
            ]},
            {header: 'Behavioral Management',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Behavioral_Management/Issue_Tracker/start.view?'},
                {name: 'Behavioral Mgmt Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Behavioral_Management/begin.view?'}
            ]},
            {header: 'Colony Management',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Colony_Management/Issue_Tracker/start.view?'},
                {name: 'Colony Mgmt Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Colony_Management/begin.view?'},
                {name: 'Water Calendar',      url: LABKEY.ActionURL.buildURL('wnprc_ehr', 'WaterCalendar',  'WNPRC/EHR')},
            ]},
            {header: 'Colony Records',
            items: [
                {name: 'EHR Users and Initials', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Colony_Records/Public/begin.view?'},
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Colony_Records/Issue_Tracker/start.view?'},
                {name: 'Colony Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Colony_Records/begin.view?'}
            ]},
            {header: 'Compliance and Training',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Issue_Tracker/start.view?'},
                {name: 'Occ Health and Safety Plans', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/Occ_Health_and_Safety_Plans/begin.view'},
                {name: 'Compliance Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/begin.view?'},
                {name: 'Trainers Only**', url: '<%=contextPath%>/EHR_ComplianceDB/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/Trainers/training.view?'},
                {name: 'Safety Data Sheets (SDS)', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/grid.view?listId=1229'},
                {name: 'Policies', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/grid.view?listId=1387'},
                {name: 'Management Reports', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Management%20Reports/begin.view?'},
                {name: 'Occupant Emergency Plan', url: '<%=contextPath%>/wiki/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/page.view?name=oep'},
                {name: 'Injury/Exposure Documents', url: '<%=contextPath%>/wiki/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/page.view?name=postExposure'},
                {name: 'Read and Certify SOPs (PowerDMS)', url: 'https://go.wisc.edu/mkg850'},
                {name: 'Request Training', url: 'https://go.wisc.edu/36i793'},
            ]},
            {header: 'Scientific Protocol Implementation',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/SPI/Issue_Tracker/start.view'},
                {name: 'SPI Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/SPI/begin.view?'}
            ]},
            {header: 'Pathology Services',
            items: [
                {name: 'Necropsy Schedule',      url: LABKEY.ActionURL.buildURL('wnprc_ehr', 'NecropsySchedule',  'WNPRC/EHR')},
                {name: 'Case List',              url: LABKEY.ActionURL.buildURL('wnprc_ehr', 'PathologyCaseList', 'WNPRC/EHR')},
                {name: 'Issue Tracker',          url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Pathology_Services/Issue_Tracker/start.view?'},
                {name: 'Pathology Guides', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Pathology_Services/Public/begin.view?'},
                {name: 'Pathology Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Pathology_Services/begin.view?'}
            ]},
            {header: 'Vet Services',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Vet_Services/Issue_Tracker/start.view?'},
                {name: 'Vet Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/Vet_Services/begin.view?'}
            ]}
        ]
    });

    Ext4.create('EHR.NavMenu', {
        renderTo: 'opServices',
        sections: [
            {header: 'Facilities Management',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Facilities_Management/Issue_Tracker/start.view?'}
            ]},
            {header: 'Financial Management',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Financial_Management/Issue_Tracker/start.view?'},
                {name: 'Internal', url: '<%=contextPath%>' + '/project/WNPRC/WNPRC_Units/Operation_Services/Financial_Management/Private/begin.view?'},
                {name: 'Finance Data Entry', url: '<%=contextPath%>' + '/project/WNPRC/WNPRC_Units/Operation_Services/Financial_Management/Finance_Data_Entry/begin.view?'},
                {name: 'PI Portal', url: '<%=contextPath%>' + '/project/WNPRC/WNPRC_Units/Operation_Services/Financial_Management/PI Portal/begin.view?'}
                //{name: 'Enter Charges with Animal Ids', url: LABKEY.ActionURL.buildURL('ehr', 'dataEntryForm', LABKEY.moduleContext.ehr["EHRStudyContainer"], {formType: 'Charges'})},
                //{name: 'Enter Charges without Animal Ids', url: LABKEY.ActionURL.buildURL('ehr', 'dataEntryForm', LABKEY.moduleContext.ehr["EHRStudyContainer"], {formType: 'NonAnimalCharges'})}
            ]},
            {header: 'Grants Management',
            items: [
                {name: 'Per Diems Report', url: LABKEY.ActionURL.buildURL('wnprc_ehr', 'PerDiems', LABKEY.moduleContext.ehr["EHRStudyContainer"]) },
                {name: 'Animal Billable Days Report', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=animalBillableDaysReport'},
                {name: 'P51 Base Grant 2016 Renewal', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Grants_Management/P51_Base_Grant_2016_Renewal/begin.view?'},
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Grants_Management/Issue_Tracker/start.view?'}
            ]},
            {header: 'Human Resources',
            items: [
                {name: 'HR Homepage', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Human_Resources/begin.view?'},
                {name: 'New User Request/Change Form', url: 'https://go.wisc.edu/hcvxa5'}
                //{name: 'Travel Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Human_Resources/Issue_Tracker/start.view?'}
            ]},
            {header: 'ITSS',
            items: [
                {name: 'IT Homepage', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/IT/Public/begin.view?'},
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/IT/Issue_Tracker/start.view?'}
            ]},
            {header: 'Purchasing Services',
            items: [
                {name: 'Purchasing Requests', url: '<%=contextPath%>/WNPRC/WNPRC_Units/Operation_Services/WNPRC Purchasing/WNPRC_Purchasing-requester.view?'},
                {name: 'Purchasing Admin', url: '<%=contextPath%>/WNPRC/WNPRC_Units/Operation_Services/WNPRC Purchasing/WNPRC_Purchasing-purchaseAdmin.view?'},
                {name: 'Purchasing Receiver', url: '<%=contextPath%>/WNPRC/WNPRC_Units/Operation_Services/WNPRC Purchasing/WNPRC_Purchasing-purchaseReceiver.view?'}
            ]}
        ]
    });

    Ext4.create('EHR.NavMenu', {
        renderTo: 'researchServices',
        sections: [
            {header: 'Assay Services',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Assay_Services/Issue_Tracker/start.view?'},
                {name: 'Assay Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Assay_Services/begin.view?'}
            ]},
            {header: 'Genetics Services',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Genetics_Services/Issue_Tracker/start.view?'},
                {name: 'Genetics Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Genetics_Services/begin.view?'}
            ]},
            {header: 'Immunology Services',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Immunology_Services/Issue_Tracker/start.view?'},
                {name: 'Immunology Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Immunology_Services/begin.view?'}
            ]},
            {header: 'Virology Services',
            items: [
                {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Virology_Services/Issue_Tracker/start.view?'},
                {name: 'Virology Staff Only**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/Virology_Services/begin.view?'}
            ]},
            {header: 'IDS Unit',
                items: [
                    {name: 'Unit Updates', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/EHR_Service/begin.view?'},
                    {name: 'Issue Tracker', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/EHR_Service/Issue_Tracker/start.view?'},
                    {name: 'Version Testing', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Research_Services/EHR_Service/EHR_Version_Testing/begin.view?'}
                ]
            }
        ]
    });

    Ext4.create('EHR.NavMenu', {
        renderTo: 'directorsOffice',
        sections: [
            {header: 'Misc. Pages',
            items: [
                {name: 'Executive Committee**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Director/Executive Committee/begin.view?'},
                {name: 'Sr. Management**', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Director/Sr Management/begin.view'},
                {name: 'WNPRC Collaborations', url: '<%=contextPath%>/project/WNPRC/WNPRC_Units/Director/WNPRC Collaborations/begin.view?'},
            ]}
        ]
    });


    Ext4.create('EHR.NavMenu', {
        renderTo: 'miscPages',
        sections: [
            {header: 'Misc. Pages',
            items: [
                {name: 'Change WNPRC Password', url: 'https://www.mynetid.wisc.edu/recover/pwdreset'},
                {name: 'Employee List', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=EmployeeList'},
                {name: 'Guidelines for Protocols', url: '<%=contextPath%>/wiki/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/page.view?name=ProtocolGuides'},
                {name: 'View My Requirement Status', url: '<%=contextPath%>/EHR_ComplianceDB/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/My_Requirements.view?'},
                {name: 'View/Download PDFs of Signs, Posters and Guides', url: '<%=contextPath%>/query/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/executeQuery.view?schemaName=lists&query.queryName=Signs'},
                {name: 'Download Paper Forms', url: '<%=contextPath%>' + '/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/grid.view?listId=1399'},
                {name: 'PowerDMS', url: 'https://go.wisc.edu/mkg850'},
            ]}
        ]
    });










}

</script>
<body>

<p>
<div style="width:1075px">
<table style="display:inline">
<tr>
    <td colspan="3">
        Each WNPRC Unit can create pages for internal or external consumption.  At the moment most units only have an issue tracker.  If you are interested in creating a page for your group, please submit a request <a href="<%=contextPath%>/issues/WNPRC/EHR/Issue_Tracker/list.view?" target="new">here</a>

        <br><br>
    </td>
</tr>
<tr style="vertical-align:top">
    <td>
        <a class="labkey-main-title" href="<%=contextPath%>/project/WNPRC/WNPRC_Units/Animal_Services/begin.view">
            Animal Services:
        </a>
        <p/>
    </td>
    <td style="width:250px">
        <a class="labkey-main-title">
            Operational Services:
        </a>
        <p/>
    </td>
    <td style="width:250px">
        <a class="labkey-main-title">
            Research Services:
        </a>
        <p/>
    </td>
    <td style="width:250px">
        <a class="labkey-main-title">
            Director's Office:
        </a>
        <p/>
    </td>
</tr>
    
<tr style="vertical-align:top">
    <td style="width:250px">
        <div id="animalServices"></div>
        <p/>
        <b>**Denotes restricted area</b>
    </td>
    <td style="width:275px">
        <div id="opServices"></div>
    </td>
    <td style="width:275px">
        <div id="researchServices"></div>
    </td>
    <td style="width:275px">
        <div id="directorsOffice"></div>
        <p/>
        <a class="labkey-main-title">
            Misc Pages:
        </a>
        <p/>
        <div id="miscPages"></div>
    </td>
</tr>
</table>
</div>

</body>
</html>
