@import "~@labkey/components/dist/assets/scss/theme";

.fa-faTimesCircle:hover {
  color: red;
}

.fa-faPlusCircle:hover {
  font-size:16.5px;
}

.line-item-row {
  margin: 1%;
  border: 1px solid #d3d3d3;
  padding: 0.65%;
}

.line-item-row-header {
  margin: 1%;
}

.add-item {
  height: 30px;
}

.add-item-icon {
  margin-left: 1%;
  margin-bottom: 1%;
}

.saved-attachment-label {
  padding-bottom: 0.5%;
}

.remove-saved-file-icon {
  margin-right: 0.5%;
  color: gray;
}

.delete-item-icon {
  margin-left: 100%;
  color: gray;
}

.line-item-row-input {
  width: 100%;
}

.description-input {
  margin-left: -3%;
}

.unit-input, .unit-cost-input, .quantity-input {
  margin-left: -6%;
}

.quantity-received-input {
  margin-right: -5%;
}

.subtotal-input {
  margin-left: -4%;
  text-align:right;
}

.controlled-sub-input {
  margin-left: -25% !important;
}

.request-form-row {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 0.50%;
  display: inline-block;
  white-space: nowrap;
}

.other-acct-label-wrap {
  white-space: pre-wrap;
}

.account-input, .vendor-input, .shipping-dest-input, .assigned-to-input, .payment-option-input, .status-input {
  resize: none;
  width: 140%;
}

.other-account-input {
  height: 60px;
}

.business-purpose-input, .special-instr-input, .new-vendor-display, .reason-for-rejection-input {
  resize: none;
  width: 140%;
  height: 90px !important;
}

.delivery-attn-input {
  resize: none;
  width: 140%;
  height: 40px !important;
}

.program-input, .confirmation-input, .invoice-input {
  resize: none;
  width: 140%;
  height: 27px !important;
  padding-top: 0.4%;
}

.calc-total {
  text-align: right;
  font-weight: bold;
}

.calc-total-val {
  text-align: center;
  font-weight: bold;
}

.vendor-modal {
  width: 100%;
}

.vendor-new-input {
  width: 80%;
  margin-bottom: 3%;
}

.vendor-new-text-area-input {
  resize: none;
  width: 80%;
  height: 60px !important;
  margin-bottom: 3%;
}

$red-border:            rgba(160, 80, 76, 1);
$red-shadow:            rgba(160, 80, 76, 0.5);

.field-validation-error {
  border-color: $red-border;
  box-shadow: inset 0 0 5px 0 $red-shadow, 0 0 5px 0 $red-shadow;
}

.other-account-warning {
  margin-top: 1%;
  background-color: #ffdaa39e;
  border-color: $yellow-border
}

.other-account-warning-box {
  border-color: $yellow-border;
  box-shadow: inset 0 0 5px 0 $yellow-shadow;
  margin-bottom: 0;
}

.edit-other-vendor-button {
  margin-left: 27.75%;
}

.form-margin {
  margin-top: 0.5%;
  margin-bottom: 0.75%;
}

input[type=number] {
  text-align:right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}