<script type="text/javascript">

    function goToRequestDataEntry() {
        window.location = LABKEY.ActionURL.buildURL('WNPRC_Purchasing', 'purchasingRequest', LABKEY.ActionURL.getContainer(), {isNewRequest: true, returnUrl:window.location});
    }

    function goToVendorsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'vendor'});
    }

    function goToUserAccountAssociationsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'userAccountAssociations'});
    }

    function goToShippingInfoView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'shippingInfo'});
    }

    function goToItemUnitsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'itemUnits'});
    }

    function goToLineItemsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'lineItems'});
    }

    function goToMyOpenRequestsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'myOpenRequests'});
    }

    function goToOpenRequestsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'purchasingRequestsOverviewForAdmins', 'query.viewName':'AllOpenRequests'});
    }

    function goToCompletedRequestsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'purchasingRequestsOverviewForAdmins', 'query.viewName':'CompletedRequests'});
    }

    function goToRequestsView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'purchasingRequestsOverviewForAdmins'});
    }

    function goToPCardView() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'ehr_purchasing', 'query.queryName': 'pCard'});
    }

    function goToPaymentOptions() {
        window.location = LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'wnprc_purchasing', 'query.queryName': 'paymentOptions'});
    }
</script>

<div id="<%=h('wnprc_purchasing-admin-page')%>"></div>
<h4 style="font-family: Roboto;font-size: 14px;font-weight: bold;">Purchasing Requests</h4>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="javascript:goToRequestDataEntry()">Enter Request</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=myOpenRequests">My Open Requests</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=purchasingRequestsOverviewForAdmins&query.viewName=AllOpenRequests">All Open Requests</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=purchasingRequestsOverviewForAdmins&query.viewName=CompletedRequests">Completed Requests</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=purchasingRequestsOverviewForAdmins">All Requests</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=pCard">P-Card View</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%>/project/WNPRC/WNPRC_Units/Operation_Services/Purchasing/Issue_Tracker/start.view?">Issue Tracker</a></span></div>

<h4 style="font-family: Roboto;font-size: 14px;font-weight: bold; padding-top:10px;">Reference Tables</h4>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=vendor">Vendors</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=userAccountAssociations">User Account Associations</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=shippingInfo">Shipping Info</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=itemUnits">Item Units</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=ehr_purchasing&query.queryName=lineItems">Line Items</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/query-executeQuery.view?schemaName=wnprc_purchasing&query.queryName=paymentOptions">Payment Options</a></span></div>
<div style="margin-left:10px;height: 25px;"><span><a class="labkey-text-link" href="<%=contextPath%><%=containerPath%>/admin-customizeEmail.view?">Email Templates</a></span></div>